body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*SIDE NAV*/
.sidenav {
    top: 50px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #93c54b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        color: #6b9430;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #ffffff;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.navbar .openBtn {
    position: fixed;
    overflow: hidden;
    font-size: 20px !important;
    top: 15px;
    left: 15px;
    color: #6b9430;
}

    .navbar .openBtn:hover {
        color: #ffffff;
    }

/*VALIDATION*/
.text-danger {
    font-size: 10px;
    color: #e04c47;
}
